.inputMessage {
  grid-area: inputMessage;
  width: 75%;
  margin: auto;
}

.input_text {
  display: flex;
  justify-content: end;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
}

.input_text textarea {
  margin: 10px 0;
  width: 100%;
  border: 1px solid #eeeeee;
  outline: none;
  resize: none;
  padding: 10px;
  height: 100px;
  font-size: 20px;
}

.send {
  width: 100%;
  text-align: end;
  margin-right: 20px;
}

.submitButton {

}