%error-style {
    color: #ff5756;
    font-size: 16px;
}

.formControl.error {
    textarea, input {
        border: solid 1px #ff5756;
    }
    span {
        @extend %error-style
    }
}

.commonErrorLogin {
    margin-bottom: 15px;
    @extend %error-style
}

.inputBlock {
    display: flex;
    flex-flow: column;
}

.loginInput {
    border: 1px solid #dddfe2;
    width: -webkit-fill-available;
    margin-bottom: 15px;
    margin-right: 0px;
}