.friendsCaption {
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
    color: #545454;
    font-size: 18px;
    font-weight: 600;
}

.friendsTitleActive {
    color: #088dcd;
}

.friendsTitle {
    margin-right: 50px;

    cursor: pointer;
}



