.setting_panel{
    display: flex;
    margin-right: 30px;
  }
  .setting_panel img {
    height: 20px;
    vertical-align: middle;
  }
  .setting_panel div {   
      width: 50px;
      text-align: center;
  }