.errorText {
    text-align: center;
    margin: 20px;
}
.errorText h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
.errorText p {
    font-size: 18px;
    margin-bottom: 30px;
}
.btnBack {
    width: auto;
    height: 40px;
    font-size: 17px;
    border-radius: 17px;
}
.btnBack a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}