.main_page {
    background-color: #f4f2f2;
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
    grid-template-areas:
      "cov cov cov cov cov"
      ". lp cont rp ."
    ;
  }

  .content {
    grid-area: cont;
    margin: 0 10px;
  }

  