.main_photo {
    border: 4px solid rgba(255, 255, 255, 0.99);
    box-shadow: 0 1px 0 #e1e8ed;
    border-radius: 100%;
    display: inline-block;
    height: 14vw;
    background-color: #000000;
  }
  .main_photo img {
    width: 14vw;
    height: 100%;
    border-radius: 100%;
      cursor: pointer;
  }
  .main_photo img:hover {
      opacity: 90%;
  }
  .inputPhoto {
      border-radius:100%;
      width: 2.5vw;
      height: 2.5vw;
      background: #d5d9de;;
      font-size: 1.5vw;
      text-align: center;
      line-height: 2.5vw;
      display: block;
      cursor: pointer;
      color: #35373b;
  }
  .inputPhoto:hover {
      background: #c4c9cf;
  }
.inputTag {
      opacity: 0;
      visibility: hidden;
  }

  .photoBlock {
      position: absolute;
      top: 19vw;
      left: 1vw;
  }
  .inputWrapper {
      position: absolute;
      bottom: 1.5vw;
      left: 11vw;
  }
