.cover_info {
    padding-left: 17vw;
    line-height: 4vw;
    display: flex;
    align-items: center;
}

.user_name {
    font-size: 1.9vw;
    height: 3.5vw;
    color: #088dcd;
    padding-right: 30px;
    text-transform: capitalize;
}

.nameWithStatus {
    margin-bottom: 15px;
}