.current {
    color: white;
    background-color: #088dcd;
}
.pageCount span {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    padding: 2px;
}
.pageCount {
    margin: auto;
    border: 1px solid #ddd;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.numberPage:hover, .arrow:hover{
    background: #eee;
}
.current:hover{
    background-color: #088dcd;
}
.arrow {
    color: #088dcd;
}
.arrow:active, .numberPage:active {
    background-color: #088dcd;
    color: white;
}
.pageCount span:last-child {
    border-right: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.pageCount span:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}