.searchBox {
  width: 25%;
  position: relative;
  margin: 20px;

  input {
    background: #f4f2f2 none repeat scroll 0 0;
    border: none;
    border-radius: 4px;
    padding: 11px 30px;
    overflow: visible;
    margin-right: 5px;
    outline: none;
    font-size: 13px;
    width: 100%;
  }
}

.searchButton {
  position: absolute;
  right: -25px;
  top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
}

.searchIcon {
  height: 15px;
}

.cleanButton {
  position: absolute;
  right: -45px;
  top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}