.addStatus {
    color: #838383;
}
.statusBlock {
    line-height: 1.1vw;
    max-width: 70vw;
    padding-left: 4px;
}
.textStatus {
    font-size: 1.2vw;
    color: #404040;
    word-break: break-word;
}

.inputStatus {
    background: white;
    padding: 10px 50px 10px 15px;
    overflow: visible;
    outline: none;
    font-size: 15px;
    border: 1px solid #dddfe2;
    min-width: 25vw;
}

.error {
    color: #ff5756;
    font-size: 16px;
}

.inputBlock {
    position: relative;
}

@mixin close-updateStatus($r) {
    color: #838383;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    top:10px;
    right: $r;
    &:hover {
        color: #404040
    }
}

.close {
    @include close-updateStatus(15px);
}
.updateStatus {
    @include close-updateStatus(35px);
}
