@import "reset.css";

html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  line-height: 1;
  font-family: Poppins;
  color: #666666;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "head"
          "cov"
          "main"
;
  grid-template-rows: 60px 0.001fr 1fr;
  grid-template-columns: 1fr;
}

[class*="_container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.menu, .cover_menu {
  display: flex;
  height: 50px;
}

.menu a, .setting_area a, .cover_menu a  {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #424242;
  &:hover {
    background-color: #e3e6f1;
    color:  #007bff;
  }
}

.profile_block {
  border: 1px solid #ede9e9;
  border-radius: 5px;
  background-color: #fdfdfd;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 20px;
}
.button {
  background-color: #088dcd;
  cursor: pointer;
  border: none;
  height: 25px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  width: 80px;
  align-self: center;
  outline: none;
  &:hover {
    box-shadow: 5px 7px 5px #e1e8ed;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #424242;
  &::before {
    top: 20px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #088dcd;
  }
}

.caption {
  position: relative;
  margin-bottom: 20px;
}

.inputPlace {
  background: #f4f2f2 none repeat scroll 0 0;
  border-radius: 4px;
  padding: 11px 30px;
  overflow: visible;
  margin-right: 5px;
  outline: none;
  font-size: 13px;
  border: 1px solid #dddfe2;
}

.content {
  grid-area: cont;
  margin: 0 10px;
}
