.searchBox input {
    background: #f4f2f2 none repeat scroll 0 0;
    border: none;
    border-radius: 4px;
    padding: 11px 30px;
    overflow: visible;
    margin-right: 5px;
    outline: none;
    font-size: 13px;
    width: 100%;
}
.searchBox {
    width: 20%;
    position: relative;
}

.searchBox button {
    position: absolute;
    right: -45px;
    top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.searchIcon {
    height: 15px;
}