.ava {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    vertical-align: top;
    margin: 0 15px;
}
.profile_block textarea {
    width: 25vw;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    padding-left:15px;
    margin-bottom: 30px;
    height: 6vw;
    font-size: 25px;
    overflow: auto;
}
.create_post {
    display: flex;
    justify-content: center;
}
.panel {
    position: absolute;
    right: 15px;
    bottom: 0px;
    height: 35px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
}

.panel a:hover {
    background-color: #e3e6f1;
}
.panel button {
    margin: 10px;
}
.inputText {
    position: relative;
    border: 1px solid #eeeeee;
}
.iconPanel {
    margin: auto;
    padding: 8px;
    color: #168aad;
    cursor: pointer;
}
.iconPanel:hover {
    color:#1e6091;
}
